body {
    margin: 0;
    padding: 0;
}

.links {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
    padding-bottom: 10px;;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    max-width: 20%;
    margin: auto;
    list-style-type: none;   
}

.section-1 {
    position: relative;
    text-align: center;
    background-image: url("Images/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.intro {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(185%);
}